/API/dbSqlite.*

/**/bin
/**/obj
/**/xs
**/.DS_Store
*DotSettings.user

API/Migrations

.vs
.idea
RestWebServices/RestWebServices/publish/appsettings.Development.json
RestWebServices/RestWebServices/publish/appsettings.json
RestWebServices/RestWebServices/publish/Lib.Repository.dll
RestWebServices/RestWebServices/publish/Lib.Repository.pdb
RestWebServices/RestWebServices/publish/Microsoft.AspNetCore.OpenApi.dll
RestWebServices/RestWebServices/publish/Microsoft.Data.Sqlite.dll
RestWebServices/RestWebServices/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
RestWebServices/RestWebServices/publish/Microsoft.EntityFrameworkCore.dll
RestWebServices/RestWebServices/publish/Microsoft.EntityFrameworkCore.Relational.dll
RestWebServices/RestWebServices/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
RestWebServices/RestWebServices/publish/Microsoft.Extensions.DependencyModel.dll
RestWebServices/RestWebServices/publish/Microsoft.OpenApi.dll
RestWebServices/RestWebServices/publish/Microsoft.Win32.SystemEvents.dll
RestWebServices/RestWebServices/publish/Newtonsoft.Json.dll
RestWebServices/RestWebServices/publish/Oracle.ManagedDataAccess.dll
RestWebServices/RestWebServices/publish/Oracle.ManagedDataAccess.dll.config
RestWebServices/RestWebServices/publish/OracleTimeQuery
RestWebServices/RestWebServices/publish/OracleTimeQuery.deps.json
RestWebServices/RestWebServices/publish/OracleTimeQuery.dll
RestWebServices/RestWebServices/publish/OracleTimeQuery.pdb
RestWebServices/RestWebServices/publish/OracleTimeQuery.runtimeconfig.json
RestWebServices/RestWebServices/publish/RestWebServices
RestWebServices/RestWebServices/publish/RestWebServices.deps.json
RestWebServices/RestWebServices/publish/RestWebServices.dll
RestWebServices/RestWebServices/publish/RestWebServices.pdb
RestWebServices/RestWebServices/publish/RestWebServices.runtimeconfig.json
RestWebServices/RestWebServices/publish/RestWebServices.staticwebassets.endpoints.json
RestWebServices/RestWebServices/publish/site.zip
RestWebServices/RestWebServices/publish/SQLitePCLRaw.batteries_v2.dll
RestWebServices/RestWebServices/publish/SQLitePCLRaw.core.dll
RestWebServices/RestWebServices/publish/SQLitePCLRaw.provider.e_sqlite3.dll
RestWebServices/RestWebServices/publish/System.Configuration.ConfigurationManager.dll
RestWebServices/RestWebServices/publish/System.Diagnostics.PerformanceCounter.dll
RestWebServices/RestWebServices/publish/System.DirectoryServices.dll
RestWebServices/RestWebServices/publish/System.DirectoryServices.Protocols.dll
RestWebServices/RestWebServices/publish/System.Drawing.Common.dll
RestWebServices/RestWebServices/publish/System.Security.Cryptography.ProtectedData.dll
RestWebServices/RestWebServices/publish/System.Security.Permissions.dll
RestWebServices/RestWebServices/publish/System.Windows.Extensions.dll
RestWebServices/RestWebServices/publish/web.config
RestWebServices/RestWebServices/publish/runtimes/alpine-arm/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/alpine-arm64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/alpine-x64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/browser-wasm/nativeassets/net7.0/e_sqlite3.a
RestWebServices/RestWebServices/publish/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/RestWebServices/publish/runtimes/linux-arm/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-arm64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-armel/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-mips64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-musl-arm/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-musl-arm64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-s390x/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-x64/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/linux-x86/native/libe_sqlite3.so
RestWebServices/RestWebServices/publish/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
RestWebServices/RestWebServices/publish/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
RestWebServices/RestWebServices/publish/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/RestWebServices/publish/runtimes/osx-arm64/native/libe_sqlite3.dylib
RestWebServices/RestWebServices/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
RestWebServices/RestWebServices/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.DirectoryServices.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
RestWebServices/RestWebServices/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
RestWebServices/RestWebServices/publish/runtimes/win-arm/native/e_sqlite3.dll
RestWebServices/RestWebServices/publish/runtimes/win-arm64/native/e_sqlite3.dll
RestWebServices/RestWebServices/publish/runtimes/win-x64/native/e_sqlite3.dll
RestWebServices/RestWebServices/publish/runtimes/win-x86/native/e_sqlite3.dll
RestWebServices/publish/appsettings.Development.json
RestWebServices/publish/appsettings.json
RestWebServices/publish/Lib.Repository.dll
RestWebServices/publish/Lib.Repository.pdb
RestWebServices/publish/Microsoft.AspNetCore.OpenApi.dll
RestWebServices/publish/Microsoft.Data.Sqlite.dll
RestWebServices/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
RestWebServices/publish/Microsoft.EntityFrameworkCore.dll
RestWebServices/publish/Microsoft.EntityFrameworkCore.Relational.dll
RestWebServices/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
RestWebServices/publish/Microsoft.Extensions.DependencyModel.dll
RestWebServices/publish/Microsoft.OpenApi.dll
RestWebServices/publish/Microsoft.Win32.SystemEvents.dll
RestWebServices/publish/Newtonsoft.Json.dll
RestWebServices/publish/Oracle.ManagedDataAccess.dll
RestWebServices/publish/Oracle.ManagedDataAccess.dll.config
RestWebServices/publish/OracleTimeQuery
RestWebServices/publish/OracleTimeQuery.deps.json
RestWebServices/publish/OracleTimeQuery.dll
RestWebServices/publish/OracleTimeQuery.pdb
RestWebServices/publish/OracleTimeQuery.runtimeconfig.json
RestWebServices/publish/RestWebServices
RestWebServices/publish/RestWebServices.deps.json
RestWebServices/publish/RestWebServices.dll
RestWebServices/publish/RestWebServices.pdb
RestWebServices/publish/RestWebServices.runtimeconfig.json
RestWebServices/publish/RestWebServices.staticwebassets.endpoints.json
RestWebServices/publish/site.zip
RestWebServices/publish/SQLitePCLRaw.batteries_v2.dll
RestWebServices/publish/SQLitePCLRaw.core.dll
RestWebServices/publish/SQLitePCLRaw.provider.e_sqlite3.dll
RestWebServices/publish/System.Configuration.ConfigurationManager.dll
RestWebServices/publish/System.Diagnostics.PerformanceCounter.dll
RestWebServices/publish/System.DirectoryServices.dll
RestWebServices/publish/System.DirectoryServices.Protocols.dll
RestWebServices/publish/System.Drawing.Common.dll
RestWebServices/publish/System.Security.Cryptography.ProtectedData.dll
RestWebServices/publish/System.Security.Permissions.dll
RestWebServices/publish/System.Windows.Extensions.dll
RestWebServices/publish/web.config
RestWebServices/publish/runtimes/alpine-arm/native/libe_sqlite3.so
RestWebServices/publish/runtimes/alpine-arm64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/alpine-x64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/browser-wasm/nativeassets/net7.0/e_sqlite3.a
RestWebServices/publish/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/publish/runtimes/linux-arm/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-arm64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-armel/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-mips64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-musl-arm/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-musl-arm64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-s390x/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-x64/native/libe_sqlite3.so
RestWebServices/publish/runtimes/linux-x86/native/libe_sqlite3.so
RestWebServices/publish/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
RestWebServices/publish/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
RestWebServices/publish/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/publish/runtimes/osx-arm64/native/libe_sqlite3.dylib
RestWebServices/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
RestWebServices/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
RestWebServices/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.DirectoryServices.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
RestWebServices/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
RestWebServices/publish/runtimes/win-arm/native/e_sqlite3.dll
RestWebServices/publish/runtimes/win-arm64/native/e_sqlite3.dll
RestWebServices/publish/runtimes/win-x64/native/e_sqlite3.dll
RestWebServices/publish/runtimes/win-x86/native/e_sqlite3.dll
RestWebServices/Properties/PublishProfiles/HikruTestApp - Web Deploy.pubxml.user
RestWebServices/Properties/PublishProfiles/HikruTestApp - Web Deploy.pubxml.user
